<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>POP-UP Market</title>
	<!-- Tailwind CSS -->
	<link rel="stylesheet" href="/css/output.css">
	<!-- Flatpickr CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<!-- Flatpickr JS -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- noUiSlider CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
	<!-- noUiSlider JS -->
	<script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
	<!-- Toss Payment JS -->
	<script src="https://js.tosspayments.com/v2/standard"></script>
	<!-- Common JS -->
	<script src="/scripts/common.js" defer></script>
	<!-- Payment JS -->
	<script src="/scripts/payment.js" defer></script>
	<style>
		.noUi-horizontal .noUi-handle {
			width: 24px;
			height: 20px;
			right: -12px;
			top: -2px;
		}
	</style>
</head>

<body class="flex flex-col min-h-screen">
	<header th:replace="~{fragments/header.html :: header}"></header>
	<main class="flex-grow flex flex-col items-center">
		<section class="flex mt-10 px-4 w-full justify-center">
			<div class="max-w-5xl w-full border p-6 bg-white rounded-lg shadow-lg">
				<h1 class="text-2xl w-full font-bold mb-8 text-center text-gray-700">결제 페이지</h1>
				<div class="mb-8 w-full border-b pb-6">
					<h2 class="text-2xl font-semibold mb-4 text-gray-700">예약자 정보</h2>
					<div class="grid grid-cols-1 gap-6">
						<div>
							<p class="text-gray-600">예약자</p>
							<p id="user-name" class="font-semibold text-gray-800 text-lg"></p>
						</div>
						<div>
							<p class="text-gray-600">이메일</p>
							<p id="user-email" class="font-semibold text-gray-800 text-lg"></p>
						</div>
						<div>
							<p class="text-gray-600">전화번호</p>
							<p id="user-tel" class="font-semibold text-gray-800 text-lg"></p>
						</div>
					</div>
				</div>
				<div class="mb-2 border-b pb-6">
					<h2 class="text-2xl font-semibold mb-4 text-gray-700">임대지 정보</h2>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
						<div>
							<p class="text-gray-600">임대지</p>
							<p id="place-name" class="font-semibold text-gray-800 text-lg"></p>
						</div>
						<div>
							<p class="text-gray-600">대여 기간</p>
							<p id="rental-period" class="font-semibold flex-shrink-0 text-gray-800 text-lg"></p>
						</div>
						<div>
							<p class="text-gray-600">일일 금액</p>
							<p id="day-price" class="font-semibold text-gray-800 text-lg"></p>
						</div>
						<div>
							<p class="text-gray-600">총 결제 금액</p>
							<p id="total-price" class="text-xl font-bold text-[#3FB8AF]"></p>
						</div>
						<div class="md:col-span-2">
							<p class="text-gray-600">주소</p>
							<p id="full-address" class="font-semibold text-gray-800 text-base"></p>
						</div>
					</div>
				</div>

				<div class="mb-4 pb-2 w-full">
					<span class="font-bold text-xs text-[#3FB8AF]">* 현재 카드 결제만 지원합니다.</span>
				</div>

				<div class="text-center">
					<button onclick="tossApi()" id="payment-button" type="button" class="w-full md:w-1/3 bg-[#3FB8AF] text-white font-semibold py-3 rounded-lg hover:bg-[#2C817C] transition-colors">
						결제하기
					</button>
					<!-- 나머지는 스프링으로 옮기면 로직 완성해야된다. -->
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>