<header class="bg-white border-b-2" th:fragment="header">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/main" class="-m-1.5 p-1.5">
                <span class="sr-only">POP-UP MARKET</span>
                <img class="h-16 w-auto" src="/images/logo.png">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button id="mobile-modal-open" type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="/rental/list" class="text-xl/6 font-semibold p-4 rounded-lg hover:bg-gray-200 transition-colors hover:text-[#3FB8AF] text-gray-900">임대지</a>
            <a href="/popup/list" class="text-xl/6 font-semibold p-4 rounded-lg hover:bg-gray-200 transition-colors hover:text-[#3FB8AF] text-gray-900">팝업</a>
            <a href="/mypage" class="text-xl/6 font-semibold p-4 rounded-lg hover:bg-gray-200 transition-colors hover:text-[#3FB8AF] text-gray-900">회원</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="/login" class="text-xl/6 font-semibold p-4 rounded-lg hover:bg-slate-200 transition-colors hover:text-[#3FB8AF] text-gray-900">
                Log in <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
    </nav>
    <!-- 모바일 메뉴, JS완료 -->
    <div id="mobile-modal" class="hidden lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div id="mobile-modal-backdrop" class="hidden fixed inset-0 z-20"><!-- Null Space --></div>
        <div class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="/main" class="-m-1.5 p-1.5">
                    <span class="sr-only">POP-UP MARKET</span>
                    <img class="h-16 w-auto" src="/images/logo.png">
                </a>
                <button id="mobile-modal-close" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="/rental/list" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-200 transition-colors hover:text-[#3FB8AF]">임대지</a>
                        <a href="/popup/list" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-200 transition-colors hover:text-[#3FB8AF]">팝업</a>
                        <a href="/mypage" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-200 transition-colors hover:text-[#3FB8AF]">회원</a>
                    </div>
                    <div class="py-6">
                        <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-200 transition-colors hover:text-[#3FB8AF]">
                            Log in <span aria-hidden="true">&rarr;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>