<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>POP-UP Market</title>
	<!-- Tailwind CSS -->
	<link rel="stylesheet" href="/css/output.css">
	<!-- Flatpickr CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<!-- Flatpickr JS -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- noUiSlider CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
	<!-- noUiSlider JS -->
	<script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
	<!-- Common JS -->
	<script src="/scripts/common.js" defer></script>
	<!-- My Popup List JS -->
	<script src="/scripts/my.popup.list.js" defer></script>
	<style>
		.noUi-horizontal .noUi-handle {
			width: 24px;
			height: 20px;
			right: -12px;
			top: -2px;
		}
	</style>
</head>
<body class="flex flex-col min-h-screen">
	<header th:replace="~{fragments/header.html :: header}"></header>
	<main class="flex-grow flex flex-col items-center">
		<nav class="bg-white sm:bg-[#3FB8AF] w-full flex justify-center">
			<div class="sm:my-0 sm:max-w-7xl min-w-full space-x-0 space-y-0 sm:space-x-1 sm:pt-10 sm:px-4 justify-center items-center flex flex-col sm:flex-row sm:border-0 border-b overflow-hidden">
				<a href="/mypage" class="text-center font-semibold py-3 w-full sm:w-32 sm:bg-gray-300 sm:rounded-t-2xl sm:border-b-0 sm:border-t sm:border-x border-white sm:border-gray-400 hover:bg-gray-300 sm:transform sm:translate-y-3 text-gray-700">회원 정보</a>
				<a href="/mypage/rental" class="text-center font-semibold py-3 w-full sm:w-32 sm:bg-gray-300 sm:rounded-t-2xl sm:border-b-0 sm:border-t sm:border-x border-white sm:border-gray-400 hover:bg-gray-300 sm:transform sm:translate-y-3 text-gray-700">임대지 관리</a>
				<a href="/mypage/popup" class="text-center font-semibold py-3 w-full sm:w-32 sm:bg-white bg-[#3FB8AF] sm:rounded-t-2xl sm:border-b-0 sm:border-t sm:border-x border-gray-400 sm:text-gray-700 text-white">팝업 관리</a>
				<a href="/mypage/receipt" class="text-center font-semibold py-3 w-full sm:w-32 sm:bg-gray-300 sm:rounded-t-2xl sm:border-b-0 sm:border-t sm:border-x border-white sm:border-gray-400 hover:bg-gray-300 sm:transform sm:translate-y-3 text-gray-700">결제 내역</a>
			</div>
		</nav>
		<section class="mt-4 w-full px-4">
			<div class="max-w-3xl mx-auto">
				<div class="flex justify-end pb-4 border-b border-gray-300">
					<a href="/mypage/popup/add" class="text-white bg-[#3FB8AF] hover:bg-[#2c817c] py-2 px-4 rounded-md transition-colors font-bold cursor-pointer">추가</a>
				</div>

				<div id="item-box" class="grid grid-cols-1 sm:grid-cols-2 gap-2 pt-4">

				</div>
			</div>
		</section>
	</main>
	<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>