<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>POP-UP Market</title>
	<!-- Tailwind CSS -->
	<link rel="stylesheet" href="/css/output.css">
	<!-- Flatpickr CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<!-- Flatpickr JS -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<!-- noUiSlider CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
	<!-- noUiSlider JS -->
	<script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
	<!-- Common JS -->
	<script src="/scripts/common.js" defer></script>
	<!-- Popup Detail JS -->
	<script src="/scripts/popup.detail.js"></script>
	<style>
		.noUi-horizontal .noUi-handle {
			width: 24px;
			height: 20px;
			right: -12px;
			top: -2px;
		}
	</style>
</head>

<body class="flex flex-col min-h-screen">
	<header th:replace="~{fragments/header.html :: header}"></header>
	<main class="flex-grow flex flex-col items-center">
		<div class="flex mt-2 max-w-7xl w-full justify-center px-4">
			<div class="max-w-7xl w-full flex items-center flex-shrink-0">
				<a href="/popup/list" class="font-bold p-2">&#10094;&#10094;</a>
				<span id="popup-detail-title" class="font-bold text-xl">팝업 스토어 기획 제목</span>
			</div>
		</div>
		<section class="flex">
			<div class="mx-auto flex flex-col lg:flex-row px-4 max-w-7xl  space-y-4 lg:space-y-0 lg:space-x-4">
				<div class="p-4 border rounded-lg border-gray-300">
					<div class="flex-1 space-y-4">
						<!-- 이미지 캐러셀 -->
						<div class="relative border overflow-hidden border-gray-300 rounded-md h-64 md:h-[24rem] lg:h-[36rem] bg-gray-300">
							<div id="image-container" class="flex transition-transform h-full duration-1000" style="transform: translateX(0%);">
								<div class="w-full h-full flex-shrink-0">
									<img src="https://via.placeholder.com/1200x400/808080/000000?text=Slide+1" class="mx-auto h-full w-full object-cover" alt="">
								</div>
								<div class="w-full h-full flex-shrink-0">
									<img src="https://via.placeholder.com/1200x400/808080/000000?text=Slide+2" class="mx-auto h-full w-full object-cover" alt="">
								</div>
								<div class="w-full h-full flex-shrink-0">
									<img src="https://via.placeholder.com/1200x400/808080/000000?text=Slide+3" class="mx-auto h-full w-full object-cover" alt="">
								</div>
								<div class="w-full h-full flex-shrink-0">
									<img src="https://via.placeholder.com/1200x400/808080/000000?text=Slide+4" class="mx-auto h-full w-full object-cover" alt="">
								</div>
							</div>
							<div class="absolute inset-0 w-full flex items-center justify-between px-4">
								<button id="prev-img-btn" class="text-2xl font-bold py-2 px-4 rounded-full hover:bg-gray-300 opacity-50 transition-colors">&#10094;</button>
								<button id="next-img-btn" class="text-2xl font-bold py-2 px-4 rounded-full hover:bg-gray-300 opacity-50 transition-colors">&#10095;</button>
							</div>
							<div class="absolute bottom-2 right-4 text-sm font-bold"><span id="slide-img-num"></span> / <span id="slide-img-total"></span></div>
						</div>
		
						<div class="flex lg:space-x-4 lg:space-y-0 space-x-0 space-y-4 lg:flex-row flex-col">
							<!-- 주요 정보 -->
							<div class="space-y-4 text-sm">
								<div class="space-y-2">
										<strong>희망 지역</strong>
										<p>서울</p>
								</div>
								<div class="space-y-2">
									<strong>팝업 유형</strong>
									<p>식품</p>
								</div>
								<div class="space-y-2">
									<strong>임대 기간</strong>
									<p>2024.12.15 ~ 2024.12.22</p>
								</div>
								<div class="space-y-2">
										<strong>주요 타겟</strong>
										<p>20대</p>
								</div>
								<div class="space-y-2">
										<strong>희망 면적</strong>
										<p>100평</p>
								</div>
								<div class="space-y-2">
										<strong>팝업 설명</strong>
										<p>
											Lorem ipsum dolor sit amet consectetur. 
											Arcu viverra sollicitudin risus condimentum id ultricies. 
											psum at tortor eget commodo. 
											Nibh quis sit mi eget purus augue egestas laoreet.
										</p>
								</div>
							</div>
			
							<!-- 오른쪽 플로팅 박스 -->
							<div class="w-full flex-shrink-0 lg:w-72 border max-h-fit border-gray-300 rounded-md p-4 shadow-md sticky top-4">
								<div class="text-center font-bold mb-2 pb-2 border-b">입점 요청</div>
								<div class="text-sm space-y-2 flex flex-col">
									<div class="bg-white px-4 py-2 flex-shrink-0 border border-gray-300 rounded-md">
										<label for="my-place" class="font-bold">임대지 목록</label>
										<select id="my-place" class="w-full px-1">
											<option value="임대지1">임대지1</option>
										</select>
									</div>
								</div>
								<button class="w-full bg-[#3FB8AF] text-white py-2 rounded-md mt-2 hover:bg-[#2c817c] transition-colors">
										권유하기
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>

</html>